body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default body margin */
    font-family: "Poppins", sans-serif;
}
.container {
    flex: 1; /* Pushes the footer to the bottom */
}
footer {
    background-color: #C8102E; /* Tim Hortons Red */
    color: white;
    padding: 50px 0; /* Adjust padding as needed */
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Add spacing between elements */
}
